@import url('http://fonts.googleapis.com/css?family=Open+Sans')

$bgColor = #fff
$textColor = #404040
$linkColor = #2079dc
$linkAccentColor = #63b6e5

$darkBgColor = #4787A7
$darkTextColor = #d8eaf3
$darkLinkColor = #fff
$darkLinkAccent = #fff

body
  color $textColor
  font-family 'Open Sans', sans-serif
  height 100%

.container
  margin 0 auto
  max-width 800px
  overflow hidden
  position relative

.main
  min-height 300px

.section
  margin-top 35px

.block
  margin-bottom 35px

a
  color $linkColor
  &:hover
    color $linkAccentColor
    text-decoration underline
  text-decoration none

h1
  font-size 2.2em
