@import './main'
  
 header
  background-color: $darkBgColor
  color: $darkTextColor
  height: 100%
  overflow: hidden
  position: relative

  a
    color: $darkLinkColor
    &:hover
      color: $darkLinkAccent

.logo
  color: $darkLinkColor
  float: left

.navigation
  float: right

  ul
    list-style: none
    padding: 0
    li
      display: inline-block
      a
        display: block
        padding: 15px
