@import './main'
@import url(https://fonts.googleapis.com/css?family=Lora)

header
  background-color $darkBgColor
  color $darkTextColor
  height 100%
  overflow hidden
  padding 15px
  position relative

  a
    color $darkLinkColor
    &:hover
      color $darkLinkAccent
      text-decoration none

.logo
  color $darkLinkColor
  float left
  font-family Lora

.navigation
  a
    display block
    padding 15px
    &:hover
      text-decoration underline
  float right
  li
    display inline-block
  ul
    list-style none
    padding 0
