@import './main'
@import url(https://fonts.googleapis.com/css?family=Lora)

 header
  background-color: $darkBgColor
  color: $darkTextColor
  height: 100%
  overflow: hidden
  padding-top: 18px
  position: relative

  a
    color: $darkLinkColor
    &:hover
      color: $darkLinkAccent

.logo
  color: $darkLinkColor
  float: left
  font-family: Lora

.navigation
  float: right

  ul
    list-style: none
    padding: 0
    li
      display: inline-block
      a
        display: block
        padding: 15px
