@import url(http://fonts.googleapis.com/css?family=Lato)

$bgColor = #fff
$textColor = #404040
$linkColor = #2079DC
$linkAccentColor = #63b6e5

$darkBgColor = #5c6570
$darkTextColor = #ced1d4
$darkLinkColor = #fff
$darkLinkAccent = #fff

body
  color: $textColor
  font-family 'Lato', sans-serif
  height: 100%

.container
  margin: 0 auto
  max-width: 900px

a
  color: $linkColor
  &:hover
    color: $linkAccentColor
  text-decoration: none
